@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'poppins';
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #c1c1c1;
    padding: 5px;
}

th {
    border: 1px solid #c1c1c1;
    padding: 5px 50px;
}

.mini {
    border: 1px solid #c1c1c1;
    padding: 5px;
}

